body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.navbar {
    background-color: #542451;
    font-size: 1.5rem;
}

.header-container {
    padding: 30px;
    background: #a83ea2;
    color: white;
    margin: 0;
}

.main-container {
    padding: 30px;
}

#settings-icon {
    height: 3rem;
    width: 100%;
}

#btn-print {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}